{# create spot if user is logged in #}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	{% include 'includes/create_spot_modal.html.twig' %}
	<button class="btn btn-info w-100 open-spot-modal mt-3" data-toggle="modal" data-target="#newSpotModal">
		<i class="fas fa-camera"></i> UPLOAD
	</button>
{% endif %}

{# search spot #}
{% include 'includes/search.html.twig' %}

{# followus #}
{% include 'includes/followus.html.twig' %}