#logo {
	height: 75px;
	width: 75px;
}

.dark {
	background-color: #262626;
}

#icon-size {
	font-size: 40px;
}

.icon {
	color: #007bff;
}

footer {
   position: relative;
   bottom:0;
   width:100%;	
}

/* index.php */
#parallax {
	height: 400px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* profile.php */
#profile-img {
 	height: 200px;
 	width: 200px;
}

#profile_post_img {
	height: 250px;
}

/* spot.php */
#text-block {
	position: relative;
	text-align: center;
	filter: brightness(100%);
}

#text-block img {
	width: 100%;
	height: 400px;
	filter: brightness(40%);
}

#text-block h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 65px;
	transform: translate(-50%, -50%);
	color: #fff;
}

#post_img {
	width: 100%;
	height: 500px;
	margin-top: 10px;
}
